In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

if 'spark' in locals() or 'spark' in globals():
    spark.stop()
    
spark = SparkSession\
    .builder\
    .appName("Testando")\
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/05/02 16:04:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
dataDict = [
    (200001, "Michael", "Scott", "Regional Manager"),
    (200002, "Dwight", "Schrute", "Sales"),
    (200003, "Jim", "Halpert", "Sales"),
    (200004, "Phyllis", "Lapin", "Sales"),
    (200005, "Stanley", "Hudson", "Sales"),
    (200006, "Angela", "Martin", "Accounting"),
    (200007, "Kevin", "Malone", "Accounting"),
    (200008, "Oscar", "Martinez", "Accounting"),
    (200009, "Creed", "Bratton", "Quality Assurance"),
    (200010, "Meredith", "Palmer", "Supplier Relations"),
    (200011, "Pamela", "Beesly", "Recepctionist"),
    (200012, "Kelly", "Kapoor", "Customer Service"),
    (200013, "Ryan", "Howard", "Temp"),
    (200014, "Toby", "Flenderson", "Human Resources"),
    (200015, "Darryl", "Philbin", "Warehouse Foreman")
]

df1 = spark.createDataFrame(data = dataDict, schema = ["empId", "firstName", "lastName", "job"])
df1.show(5)

+------+---------+--------+----------------+
| empId|firstName|lastName|             job|
+------+---------+--------+----------------+
|200001|  Michael|   Scott|Regional Manager|
|200002|   Dwight| Schrute|           Sales|
|200003|      Jim| Halpert|           Sales|
|200004|  Phyllis|   Lapin|           Sales|
|200005|  Stanley|  Hudson|           Sales|
+------+---------+--------+----------------+
only showing top 5 rows

In [3]:
def func(job):
    if job == 'Sales':
        return 1
    else:
        return 0

In [4]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import *

udf_func = udf(lambda x: func(x), IntegerType())

In [5]:
df1.withColumn('result_func', udf_func(col('job'))).show()

+------+---------+----------+------------------+-----------+
| empId|firstName|  lastName|               job|result_func|
+------+---------+----------+------------------+-----------+
|200001|  Michael|     Scott|  Regional Manager|          0|
|200002|   Dwight|   Schrute|             Sales|          1|
|200003|      Jim|   Halpert|             Sales|          1|
|200004|  Phyllis|     Lapin|             Sales|          1|
|200005|  Stanley|    Hudson|             Sales|          1|
|200006|   Angela|    Martin|        Accounting|          0|
|200007|    Kevin|    Malone|        Accounting|          0|
|200008|    Oscar|  Martinez|        Accounting|          0|
|200009|    Creed|   Bratton| Quality Assurance|          0|
|200010| Meredith|    Palmer|Supplier Relations|          0|
|200011|   Pamela|    Beesly|     Recepctionist|          0|
|200012|    Kelly|    Kapoor|  Customer Service|          0|
|200013|     Ryan|    Howard|              Temp|          0|
|200014|     Toby|Flenderson|   Human Resources|          0|
|200015|   Darryl|   Philbin| Warehouse Foreman|          0|
+------+---------+----------+------------------+-----------+