In [1]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StringType, DoubleType, IntegerType
from pyspark import SparkConf, SparkContext

## Criando a [Spark Session](http://127.0.0.1:4040/)
Configurações padrão utilizadas no _spark-defaults.conf_ em $SPARK_HOME/conf/

In [21]:
spark.stop()

spark = SparkSession \
    .builder \
    .appName("Teste Metastore") \
    .config("spark.sql.warehouse.dir", "s3a://warehouse/") \
    .config("spark.sql.catalogImplementation", "hive")\
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000")\
    .config("spark.hadoop.fs.s3a.access.key", "admin")\
    .config("spark.hadoop.fs.s3a.secret.key", "admin123")\
    .config("spark.hadoop.fs.s3a.fast.upload", "true")\
    .config("spark.hadoop.fs.s3a.path.style.access", "true")\
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")\
    .config("spark.hadoop.javax.jdo.option.ConnectionDriverName", "org.postgresql.Driver")\
    .config("spark.hadoop.javax.jdo.option.ConnectionURL", "jdbc:postgresql://postgres:5432/metastore_db")\
    .config("spark.hadoop.javax.jdo.option.ConnectionUserName", "hive")\
    .config("spark.hadoop.javax.jdo.option.ConnectionPassword", "hive123")\
    .config("spark.hadoop.datanucleus.schema.autoCreateAll", "true")\
    .config("spark.hadoop.datanucleus.schema.autoCreateTables", "true")\
    .config("spark.hadoop.datanucleus.fixedDatastore", "false")\
    .config("spark.hadoop.hive.metastore.schema.verification", "false")\
    .config("spark.hadoop.hive.metastore.schema.verification.record.version", "false")\
    .config("spark.sql.hive.metastore.version", "2.3.9")\
    .config("spark.sql.hive.metastore.uris", "thrift://0.0.0.0:9083")\
    .config("spark.sql.hive.metastore.jars", "builtin")\
    .config("spark.sql.hive.hiveserver2.jdbc.url=jdbc:postgresql://postgres:5432/metastore_db")\
    .enableHiveSupport() \
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")
spark

In [23]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
|    delta|
+---------+

In [32]:
path = "s3a://my-bucket/input/sample-data.csv"

schema = StructType() \
        .add("Row ID", IntegerType(), True) \
        .add("Order ID", StringType(), True) \
        .add("Order Date", StringType(), True) \
        .add("Ship Date", StringType(), True) \
        .add("Ship Mode", StringType(), True) \
        .add("Customer ID", StringType(), True) \
        .add("Customer Name", StringType(), True) \
        .add("Segment", StringType(), True) \
        .add("Country", StringType(), True) \
        .add("City", StringType(), True) \
        .add("State", StringType(), True) \
        .add("Postal Code", StringType(), True) \
        .add("Region", StringType(), True) \
        .add("Product ID", StringType(), True) \
        .add("Category", StringType(), True) \
        .add("Sub-Category", StringType(), True) \
        .add("Product Name", StringType(), True) \
        .add("Sales", DoubleType(), True) \
        .add("Quantity", IntegerType(), True) \
        .add("Discount", DoubleType(), True) \
        .add("Profit", DoubleType(), True)

df = spark.read.csv(path = path, schema = schema, header = True)
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [33]:
df.write.option("compression", "snappy")\
    .mode('overwrite')\
    .partitionBy('Region')\
    .format('parquet')\
    .saveAsTable('tb_sales_test')

23/02/23 23:46:05 ERROR FileUtils: Failed to delete s3a://warehouse/tb_sales_test

In [35]:
spark.sql("SHOW TABLES").show()

+---------+--------------+-----------+
|namespace|     tableName|isTemporary|
+---------+--------------+-----------+
|  default|tb_sales_final|      false|
|  default| tb_sales_test|      false|
+---------+--------------+-----------+

In [36]:
spark.catalog.tableExists(tableName = "tb_sales_test")

True

In [37]:
spark.sql("SHOW PARTITIONS default.tb_sales_test").show()

+--------------+
|     partition|
+--------------+
|Region=Central|
|   Region=East|
|  Region=South|
|   Region=West|
+--------------+

In [38]:
spark.sql("SELECT * FROM default.tb_sales_test LIMIT 10").show()

+------+--------------+----------+---------+--------------+-----------+---------------+--------+-------------+------------+------------+-----------+---------------+---------------+------------+--------------------+-------+--------+--------+----------+------+
|Row ID|      Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|  Customer Name| Segment|      Country|        City|       State|Postal Code|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|    Profit|Region|
+------+--------------+----------+---------+--------------+-----------+---------------+--------+-------------+------------+------------+-----------+---------------+---------------+------------+--------------------+-------+--------+--------+----------+------+
|    24|US-2017-156909| 7/16/2017|7/18/2017|  Second Class|   SF-20065|Sandra Flanagan|Consumer|United States|Philadelphia|Pennsylvania|      19140|FUR-CH-10002774|      Furniture|      Chairs|Global Deluxe Sta...| 71.372|       2|     0.3|   -1.0196|  East|
|    28|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|FUR-BO-10004834|      Furniture|   Bookcases|Riverside Palais ...|3083.43|       7|     0.5|-1665.0522|  East|
|    29|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|OFF-BI-10000474|Office Supplies|     Binders|Avery Recycled Fl...|  9.618|       2|     0.7|   -7.0532|  East|
|    30|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|FUR-FU-10004848|      Furniture| Furnishings|"Howard Miller 13...|  124.2|       3|     0.2|    15.525|  East|
|    31|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|OFF-EN-10001509|Office Supplies|   Envelopes|Poly String Tie E...|  3.264|       2|     0.2|    1.1016|  East|
|    32|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|OFF-AR-10004042|Office Supplies|         Art|BOSTON Model 1800...| 86.304|       6|     0.2|    9.7092|  East|
|    33|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|OFF-BI-10001525|Office Supplies|     Binders|"Acco Pressboard ...|   null|    null|     6.0|       0.7|  East|
|    34|US-2015-150630| 9/17/2015|9/21/2015|Standard Class|   TB-21520|Tracy Blumstein|Consumer|United States|Philadelphia|Pennsylvania|      19140|OFF-AR-10001683|Office Supplies|         Art|      Lumber Crayons|  15.76|       2|     0.2|     3.546|  East|
|    48|CA-2016-169194| 6/20/2016|6/25/2016|Standard Class|   LH-16900| Lena Hernandez|Consumer|United States|       Dover|    Delaware|      19901|TEC-AC-10002167|     Technology| Accessories|Imation�8gb Micro...|   45.0|       3|     0.0|      4.95|  East|
|    49|CA-2016-169194| 6/20/2016|6/25/2016|Standard Class|   LH-16900| Lena Hernandez|Consumer|United States|       Dover|    Delaware|      19901|TEC-PH-10003988|     Technology|      Phones|LF Elite 3D Dazzl...|   21.8|       2|     0.0|     6.104|  East|
+------+--------------+----------+---------+--------------+-----------+---------------+--------+-------------+------------+------------+-----------+---------------+---------------+------------+--------------------+-------+--------+--------+----------+------+

In [39]:
spark.sql("CREATE DATABASE IF NOT EXISTS delta")
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
|    delta|
+---------+

In [40]:
new_cols = [x.replace(' ', '_') for x in df.columns]

df = df.toDF(*new_cols)

In [41]:
df.printSchema()

root
 |-- Row_ID: integer (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Ship_Mode: string (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal_Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product_Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [42]:
df.write.format("delta").mode("overwrite").partitionBy("Region").saveAsTable("delta.superstore_table")

Py4JJavaError: An error occurred while calling o476.saveAsTable.
: java.lang.ClassNotFoundException:
Failed to find data source: delta. Please find packages at
https://spark.apache.org/third-party-projects.html

	at org.apache.spark.sql.errors.QueryExecutionErrors$.failedToFindDataSourceError(QueryExecutionErrors.scala:587)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:675)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:725)
	at org.apache.spark.sql.DataFrameWriter.lookupV2Provider(DataFrameWriter.scala:864)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:562)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.ClassNotFoundException: delta.DefaultSource
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$5(DataSource.scala:661)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$4(DataSource.scala:661)
	at scala.util.Failure.orElse(Try.scala:224)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:661)
	... 15 more

In [43]:
spark.catalog.listTables(dbName = 'delta')

[]

In [44]:
spark.read.table("delta.superstore_table").show(5)

AnalysisException: Table or view not found: delta.superstore_table;
'UnresolvedRelation [delta, superstore_table], [], false

In [ ]:
spark.stop()